.dashboard .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .header .title{
    font-size: 2.2rem;
    font-family: Roboto;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #161616;
}

.dashboard .header .search-bar-container{
    position: relative;
}

.dashboard .header .search-bar-container .search-bar{
    border: 2px solid #e0def7;
    padding: 0.7em 0.9em;
    border-radius: 6px;
    padding-right: 3rem;
    letter-spacing: 0.7px;
    -webkit-transition: 0.5s;
    transition: 0.5s;
    height: 1.5rem;
    font-size: 0.9rem;
}

.dashboard .header .search-bar-container .search-bar:focus{
    border: 2px solid #7065f0;
}

.dashboard .search-bar-container .search-bar-icon{
    position: absolute;
    right: 1rem;
    top: 50%;
    transform: translateY(-50%);
    background: #d8d4ff;
    padding: 0.3rem;
    border-radius: 50%;
    display: inline-block;
    width: 1.2rem;
    height: 1.2rem;
}

.dashboard .search-bar-container .search-bar-icon:hover{
    cursor: pointer;
    background: #7065f0;
}

.dashboard .search-bar-icon .search-bar-icon-bsicon{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
}

.dashboard .properties{
    display: flex;
    flex-wrap: wrap;
    row-gap: 1.7rem;
}

@media screen and (max-width: 1200px){
    .dashboard .search-filters {
        justify-content: space-between;
    }

    .dashboard .filter-item .filter-value {
        gap: 0.8rem;
    }

    .dashboard .filter-item .filter-title {
        font-size: 0.9rem;
    }

    .dashboard .filter-item .filter-value .filter-value-text {
        font-size: 1rem;
    }

    .dashboard .filter-item .filter-value .filter-symbol {
        width: 1.8rem;
        height: 1.8rem;
    }

    .dashboard .search-filters .filter-search-button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 5.5rem;
    }

    .dashboard .properties {
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {
    .dashboard .header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .dashboard .search-filters {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        width: 19rem;
        margin: auto;
        margin-top: 3rem;
    }

    .dashboard .filter-item .filter-title {
        justify-content: center;
        display: flex;
    }

    .dashboard .filter-item .filter-value {
        position: relative;
    }

    .dashboard .filter-item .filter-value .filter-symbol {
        position: absolute;
        left: 111%;
    }

    .dashboard .search-filters .filter-item {
        gap: 0.7rem;
    }

    .dashboard .filter-item .filter-value {
        justify-content: center;
    }

    .dashboard .search-filters .filter-search-button {
        margin-top: 1rem;
        padding: 0.6em 0.8em;
        font-size: 1rem;
        height: auto;
    }

    .dashboard .properties {
        margin-top: 3rem;
    }
}

/* breakpoint: 900 px to 600px */

@media screen and (max-width: 600px){
    .dashboard .search-filters {
        width: 16rem;
    }

    .dashboard .properties {
        justify-content: center;
    }
}