.dashboard .header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dashboard .header .title{
    font-size: 2.2rem;
    font-family: Roboto;
    font-weight: 600;
    letter-spacing: 0.5px;
    color: #161616;
}

@media screen and (max-width: 1200px){
    .dashboard .properties {
        justify-content: space-between;
    }
}

@media screen and (max-width: 900px) {
    .dashboard .header {
        display: flex;
        flex-direction: column;
        gap: 2rem;
    }

    .dashboard .search-filters {
        flex-direction: column;
        align-items: center;
        gap: 0.8rem;
        width: 19rem;
        margin: auto;
        margin-top: 3rem;
    }

    .dashboard .filter-item .filter-title {
        justify-content: center;
        display: flex;
    }

    .dashboard .filter-item .filter-value {
        position: relative;
    }

    .dashboard .filter-item .filter-value .filter-symbol {
        position: absolute;
        left: 111%;
    }

    .dashboard .search-filters .filter-item {
        gap: 0.7rem;
    }

    .dashboard .filter-item .filter-value {
        justify-content: center;
    }

    .dashboard .search-filters .filter-search-button {
        margin-top: 1rem;
        padding: 0.6em 0.8em;
        font-size: 1rem;
        height: auto;
    }

    .dashboard .properties {
        margin-top: 3rem;
    }
}

/* breakpoint: 900 px to 600px */

@media screen and (max-width: 600px){
    .dashboard .search-filters {
        width: 16rem;
    }

    .dashboard .properties {
        justify-content: center;
    }
}