@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    transition: 0.5ms;
}

html{
    overflow-y: scroll;
}

body{
    background: #f7f7fd;
}

.page-wrapper{
    max-width: 1100px;
    margin: auto;
    margin-top: 3.5rem;
}

.dont-show{
    display: none !important;
}


/* breakpoint: 1200 px to 900px */

@media screen and (max-width: 1200px){
    .page-wrapper {
        max-width: 830px;
    }
}


/* breakpoint: 900 px to 600px */

@media screen and (max-width: 900px) {
    .page-wrapper {
        max-width: 580px;
        margin-top: 2.5rem;
    }
}

/* breakpoint: 900 px to 600px */

@media screen and (max-width: 600px){
    .page-wrapper {
        max-width: 90%;
    }
}